<!DOCTYPE html>
<html>
<head>
    <title>Angular</title>
    <link rel="stylesheet" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-animate.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="ItemCtrl">
        <form ng-submit="submit()">
            <input placeholder="Next item?"
                   ng-model="newItem" autofocus>
        </form>
        <ul>
            <li ng-repeat="item in items track by $index"
                ng-bind="item"
                class="slide"></li>
        </ul>
    </div>
</body>
</html>